@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
.container {
  padding: 12px 24px;
}

nav ul {
  display: flex;
  padding-right: 0;
}
nav ul a {
  color: #121212;
}
nav ul a:hover {
  color: #8f8f8f;
}
nav ul li {
  padding-right: 40px;
  list-style: none;
}
main .summary {
  line-height: 24px;
  color: #616161;
  background-color: rgb(253, 236, 200);
  padding: 12px;
}
main img {
  margin-top: 40px;
}
.text-fields input {
  padding: 6px 16px;
  border-radius: 4px;
  border: 1px solid #cacaca;
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
}
input:focus {
  outline: 2px solid rgb(253, 236, 200);
}
.text-fields {
  margin: 40px 0;
}
.list-hobbies {
  display: flex;
  flex-direction: column;
}
.list-hobbies div {
  margin-top: 16px;
}
.input-date {
  margin-top: 40px;
}
input[type="date"] {
  padding: 6px 16px;
  border-radius: 4px;
  border: 1px solid #cacaca;
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
}
.list-hobbies input[type="radio"]:checked {
  accent-color: rgb(253, 236, 200);
}
input[type="radio"]:focus {
  outline: none !important;
}

.text-area {
  margin-top: 40px;
}
.input-date input {
  margin-top: 8px;
}
textarea:focus {
  outline: 2px solid rgb(253, 236, 200);
}
.text-area textarea {
  margin-top: 8px;
  padding: 6px 16px;
  border-radius: 4px;
  border: 1px solid #cacaca;
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
}
.desribe-self {
  padding: 10px;
}
img {
  width: 100%;
}
.button-primary {
  padding: 4px 24px;
  background-color: rgb(253, 236, 200);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  margin-top: 24px;
}
.button-primary:hover {
  background-color: rgb(242, 212, 149);
}
@media only screen and (min-width: 600px) {
  .container {
    padding: 12px 160px;
  }
  img {
    width: 50%;
  }
}
